# Minimal requirements
Django==1.8.2
wagtail==1.0b2
wagtailapi==1.0rc3
django-cors-headers==1.1.0

# Recommended components (require additional setup):
# psycopg2==2.5.4
# elasticsearch==1.1.1

# Recommended components to improve performance in production:
# django-redis-cache==0.13.0
# django-celery==3.1.10
