{% load wagtailimages_tags %}
<!doctype html>
<!--[if lt IE 7]>      <html itemscope itemtype="http://schema.org/Article" class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en-GB"> <![endif]-->
<!--[if IE 7]>         <html itemscope itemtype="http://schema.org/Article" class="no-js lt-ie9 lt-ie8" lang="en-GB"> <![endif]-->
<!--[if IE 8]>         <html itemscope itemtype="http://schema.org/Article" class="no-js lt-ie9" lang="en-GB"> <![endif]-->
<!--[if gt IE 8]><!--> <html itemscope itemtype="http://schema.org/Article" class="no-js" lang="en-GB"> <!--<![endif]-->
<head>
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <![endif]-->
    <script src="//use.typekit.net/ots7ejy.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <title>Serivce Preview Page</title>
    <link rel="stylesheet" type="text/css" href="http://proto.100shapes.com/main.css">
</head>
<body>

  <article class="service-page"
               vocab="http://schema.org/"
               typeof="NewsArticle">

      <aside class="box box-round posf service-page__secondary-nav" role="navigation">
          <ol class="list-bare">
            {% for content_section in self.content_sections %}
              <li>
                  <a href="#{{ content_section.slug}}">
                      {{ content_section.label }}
                  </a>
              </li>
            {% endfor %}
          </ol>
      </aside>

      <header class="bg--blue bg--overlay pt++ pb mb+" style="background-image: url({{ self.banner_url }})">
          <div class="wrapper">
              <div class="grid">
                  <div class="grid-item 1/1 lg-2/3 pr+">

                      <a href
                         ui-sref="main.services.list">Design services</a>

                      <h1 view-title>
                          {{ self.seo_title }}
                      </h1>

                      <p subtitle class="fz++ ffs">
                          {{ self.lead }}
                      </p>

                      <p subtitle class="fz+">
                          {{ self.intro }}
                      </p>

                  </div>
                  <div class="grid-item 1/1 lg-1/3">

                      <div class="box box-round bg--white p0 mb tc">

                          <div class="mh mb pt">

                              <h4 class="mb-- fz+">Make an enquiry</h4>
                              <p>We're open right now, get in touch.</p>

                              <a href=""
                                 class="btn db btn-primary btn-round btn-lg tl mb">
                                  020250500

                              </a>

                              <a href="{{vm.company.email.target}}"
                                 class="btn db btn-primary btn-round btn-lg tl mb">

                                  <ohs-icon name="{{vm.company.email.icon_sm}}"
                                            class="fl mr- is-sm"></ohs-icon>

                                  hi@100shapes.com

                              </a>

                          </div>

                          <hr class="1/1 blue dotted m0">

                          <div class="dib ph">

                              <h4 class="mb-- mt fz+">About 100 Shapes</h4>

                              <p class="mb--">We're a UX &amp; Design agency that specialise in working with broadcasters and media organisations.</p>

                              <a href
                                 ui-sref=""
                                 class="btn btn-link mb">Read about us</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </header>

      <div class="posr">
          {% for content_section in self.content_sections %}
          <div id="{{ content_section.slug }}">

              {{ content_section.body | safe }}
          </div>
          {% endfor %}

      </div>



      <!-- <ohs-gallery-promo gallery_items="vm.gallery_items">
      </ohs-gallery-promo> -->

  </article>

</body>
</html>
